# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

_ReSharper*
sqlbin
msbuild
tmp
*.bak
*.user
*.dotCover
*.suo
.build
*.bat
doc
buildall
installapp
usr.ugmk

# mstest test results
TestResults